<!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/manage/index"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 资源管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/manage/setting"><span class="am-icon-th"></span> 系统管理</a></li>
            <li><a href="/manage/user" class="am-cf"><span class="am-icon-user-md"></span> 用户管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="/manage/sort"><span class="am-icon-puzzle-piece"></span> 板块管理</a></li>
            <li><a href="/manage/invite"><span class="am-icon-plus-circle"></span> 邀请码管理</a></li>
          </ul>
        </li>
        <li><a href="/"><span class="am-icon-pencil-square-o"></span> 返回前台</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>这是Minos第一版的论坛，各种功能尚待完善</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->